
a {
    color: white;
}

header {
    background-color: #444;
    margin: 30px;
}

header div {
    width: 960px;
    display: inline-flex;
    padding: 15px;
    box-sizing: border-box;
}

header img {
    margin-right: 25px;
}

nav li {
    display: inline-block;
    padding: 22px 0;
    font-size: 20px;
    margin-right: 90px;
}

ul {
    display: inline-flex;
}

main {
    width: 960px;
    margin: 15px;
    padding: 30px 0;
}

main img{
    margin:15px;
    border-image-width: 0px;
    display: inline;
}

article{
    float: left;
    width: 480px;
}

article h2{
    font-size: 14;
    font-weight: bold;
}

article div{
    float: left;
    overflow: scroll;
    width: 460px;
    height: 400px;
}

button{
    width: 200px;
    height: 40px;
    border-radius: 12px;
    float: left;
}
button:hover {
    transition: background-color 0.325s ease;
    background-color: #234;
}